h4 {
    text-align: center;
}
.item {
    float: left;
}
span {
    display: flex;
    float: left;
}
.table {
    display: flex;
    flex-direction: column;
}
table {
    border-collapse: collapse;
    width: 100%;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
}

.floating-button {
    position: fixed;
    top: 20px;
    left: 20px;
}
.amtTable {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}
.amtTable table {
    width: 180px;
    height: 260px;
}
.rateTable table {
    margin-left: 20px;
    width: 350px;
    height: 390px;
}
.amtTable {
    display: flex;
    justify-content: center;
}

.fb {
    background-color: #5b84d5;
    color: white;
    border: none;
    border-radius: 20%;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
}
.fb:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0 2px inset;
}
/* 테이블 전체 스타일 */

/* 테이블 헤더 스타일 */
th {
    background-color: #dee733;
    /* 헤더 배경색 */
    border: 1px solid #dee733;
    /* 셀 안 패딩 */
}

/* 테이블 데이터 셀 스타일 */
td {
    border: 1px solid #ddd;
    /* 데이터 셀 테두리 스타일 */
}
caption {
    margin-left: 15px;
    caption-side: top;
    color: black;
    white-space: nowrap;
    font-weight: bold;
    font-size: 1.0em;
    margin-bottom: 10px;
    text-align: center;
    /* 가운데 정렬 */
    background-color: #f0f0f0;
    /* 배경색 지정 */
    padding: 8px;
    /* 내부 여백 추가 */
    border: 1px solid #a9a8a8;
    /* 테두리 추가 */
    border-radius: 5px;
    /* 테두리 둥글게 만들기 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* 그림자 효과 추가 */
}

h1 {
    margin-left: 50%;
}

tr:nth-child(even) {
    background-color: #fff6f6;
}
tbody tr:hover {
    background-color: #d3d3d3;
    opacity: 0.9;
    cursor: pointer;
}

canvas {
    padding: 7px;
    width: 100%;
    margin: 10px;
    max-width: 800px;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(151, 147, 147);
    max-height: 500px;
}